volumes
cmake-build-*
.idea
/.polyscope.ini
/imgui.ini
/gpu/buildR
/auxil
**/auxil
*.zip
/out
/build
/DGMM2025_arXiv.zip
/DGMM2025_arXiv/**
/DGMM2025/beamer_aux
/DGMM2025/beamer_out
**/visibility.vis
/shapes/**.vol
/visibilities/**.vis
/JMIV2026/out